<div class="task-content">
  <h2>{{ title }}</h2>

  <div class="add-content">
    <p>Add new task ... </p>
    <p>Temps estimé</p>
    <p><i class="fa-solid fa-plus" style="color: #3b68f9;"></i></p>
  </div>

  <div class="tasks-list">
    <div class="tasks-list-header">
      <p>Task</p>
      <p>Temps estimé</p>
      <p>Temps réalisé</p>
      <p>RAF</p>
    </div>
    <ul>
      <li>
        <i class="fa-regular fa-circle-check"></i>
        <p>Task 1</p>
        <p>2 jours</p>
        <p>2 jours</p>
        <p>2 jours</p>
        <div>
          <i class="fa-solid fa-circle-play"></i>
          <i class="fa-solid fa-circle-pause"></i>
          <i class="fa-solid fa-circle-stop"></i>
          <i class="fa-solid fa-pen"></i>
        </div>
      </li>
      <li>
        <i class="fa-regular fa-circle-check"></i>
        <p>Task 1</p>
        <p>2 jours</p>
        <p>2 jours</p>
        <p>2 jours</p>
        <div>
          <i class="fa-solid fa-circle-play"></i>
          <i class="fa-solid fa-circle-pause"></i>
          <i class="fa-solid fa-circle-stop"></i>
          <i class="fa-solid fa-pen"></i>
        </div>
      </li>
    </ul>

  </div>
</div>

