@import "../../styles";

:host{
  height: 100%;
  width: 100%;
  display: block;
  p {
    color: ghostwhite;
  }
}

h2 {
  margin-left: 5em;
  color: ghostwhite;
}

.todo-content{
  width: 30em;
  margin: auto;
  color: white;
}

form, table{
  border-radius: 5px;
  background-color: #25273C;
}

form  {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  height: 3em;
  justify-content: space-between;
  padding: 0 0 0 5em;
  input {
    all: unset;
    width: 100%;
    border: none;
    background-color: #25273C;
    color: ghostwhite;
  }
  button {
    width: 3em;
    border: none;
    background: none;
    color: ghostwhite;
    margin: 0 1.5em ;
  }
}

table {

  width: 100%;
  th {
    border-bottom: 1px solid ghostwhite;
    color: ghostwhite;
  }
}

.txt-aligne-start{
  text-align: start;
}
