<h2>Ajouter une nouvelle saisie</h2>

<form id="entryTimesForm" [formGroup]="form" >
  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="workDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Teams</mat-label>
    <mat-select formControlName="teamId">
      @for (team of teams$ | async; track team.id) {
        <mat-option [value]="team.id">{{team.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Products</mat-label>
    <mat-select formControlName="productId">
      @for (product of products$ | async; track product.id) {
        <mat-option [value]="product.id">{{product.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modules</mat-label>
    <mat-select formControlName="moduleId">
      @for (module of modules$ | async; track module.id) {
        <mat-option [value]="module.id">{{module.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activities</mat-label>
    <mat-select formControlName="activityId">
      @for (activity of activities$ | async; track activity.id) {
        <mat-option [value]="activity.id">{{activity.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-radio-group aria-label="Select an option" formControlName="workload">
    @for (workload of workloads$ | async; track workload.value) {
      <mat-radio-button [value]="workload.value">{{workload.label}}</mat-radio-button>
    }
  </mat-radio-group>
<!--  <button type="submit" [disabled]="entryTimesForm.invalid">Sauvegarder</button>-->
</form>
