:host{
  margin: 20px;
  h2 {
    color: white;
  }
}

form {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 10px;
}




mat-form-field{
  width: 100%;
}

