$dark-background: #0D0D14;
$dark-medium: #161625;
$dark-light: #1a1a2e;


//----------//
$surface: #FFFFFF;
$surface-light: #F6F8FC;
//----------//
$primary: #5B7FFF;
$primary-light: #7DA2FF;
//----------//
$accent: #EC4899;
$success: #22D3EE;
$error: #F43F5E;
//----------//
$text-dark: #111027;
$text-medium: #71717a;
$text-light: #F6F8FC;

$purple : #7C3AF7;
$logo-gradient: linear-gradient(to right, #7C3AF7 4%, #EC4899 100%);






//----------//
$purple-gradient: linear-gradient(320deg,rgba(124, 58, 237, 1) 32%, rgba(236, 72, 153, 1) 100%);
$blue-gradient: linear-gradient(200deg,rgba(59, 138, 237, 1) 32%, rgba(34, 211, 190, 1) 100%);
//----------//
$border : #E2E8F0;
$divider : #F1F5F9;
