<header>
  <div class="header">
    <img class="logo" src="./assets/logo.png" alt="image d'équipe">
    <h1>Saisie des temps</h1>
  </div>

  <div class="header">
    <p>FirstName LastName</p>
    <div class="dropdown"   >
      <p><i class="fa-solid fa-user"></i></p>
      <ul class="dropdown-content ">
        <li><a routerLink="teamsProjets">Bilan des temps</a></li>
        <li><a routerLink="teamsProjets">Équipes</a></li>
        <li><a routerLink="teamsProjets">Utilisateur</a></li>
      </ul>
    </div>
  </div>
</header>
<body>
<router-outlet />
</body>

