@import "../styles";

header {
  background-color: $surface-dark;
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 1em;
  .header {
    display: flex;
    flex-direction: row;
  }
  .logo{
    height: 33px;
    padding-right: 1em;
  }
}

mat-icon {
  color: $surface-light;
  margin: auto;
  margin-right: 10px;
}

