<header>
  <h1>TODO</h1>




  <div class="todo-input">
    <div class="circle"></div>
    <input type="text" id="name" name="input" placeholder="Create a new todo ...">
    <button>edit</button>
  </div>

</header>


<div class="team-list">
  @for (t of team; track t.id){
    <!--To Do : ne récupère pas l'adresse de l'image-->
    <!--<img src="{{t.imageUrl}}" alt="{{t.name | titlecase}}">-->
    <li> {{t.name | titlecase}}</li>
  } @empty {
    <li>Il n'y a pas d'équipe</li>
  }
</div>



<router-outlet />
