<div class="container">
  <h1>{{title() | titlecase}}</h1>

  <form [formRoot]="formD">
  <div>
    <p>Label</p>
    <mat-form-field class="custom-field" appearance="outline"  >
      <input matInput [formField]="formD.label">
    </mat-form-field>
    <p>Description</p>
    <mat-form-field class="custom-field" appearance="outline"  >
      <input matInput [formField]="formD.description">
    </mat-form-field>

    <p>Date de début</p>
    <mat-form-field class="custom-field" appearance="outline">
      <input matInput [formField]="formD.startDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <p>Statut</p>
    <mat-form-field class="custom-field" appearance="outline"  >
      <input matInput [formField]="formD.status">
    </mat-form-field>
   <!-- <app-button [button]="button()"/>-->
  </div>
    <button  [mat-dialog-close]="" type="submit" (click)="onSubmit()">save</button>
  </form>
</div>







