div{
  width: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

i {
  color: white;
}

table{
  width: 100%;
}

tbody {
  th {
    text-align: left;
    width: 500px;
  }
}

