@if (project(); as project) {


  <p>project : {{ project.label }}</p>


  <div class="card">
    <div class="card-header">
      <div>
        <p>couture</p>
        <p>broderie</p>
      </div>
      <button>Modifier</button>
    </div>


    <div class="content">
      <h1>{{ project.label | titlecase}}</h1>
      <p>Créé le {{ project.startDate | date: 'dd MMMM yyyy' }}  - x tâches</p>
    </div>
    <div class="card-footer">
      <div>Temps total</div>
      <div>Cette semaine</div>
      <div>Session</div>
    </div>
  </div>


  <div class="session">


  <div class="card">
    <div class="card-header">
      <h2>Tâches</h2>
      <button (click)="addStep()"><mat-icon>add</mat-icon></button>
    </div>

    <div class="card-body">
      <ul >
        @for (step of stepList(); track step.id){
          <div class="list-group">
            <li>{{step.label}} -  {{step.type.label }} - {{step.status}} -- {{ step.duration }}min </li>
            <div>
              <button><mat-icon>play_circle_outline</mat-icon></button>
              <button><mat-icon>edit</mat-icon></button>
              <button  (click)="deleteStep$(project.id, step.id)"><mat-icon>delete</mat-icon></button>
            </div>
          </div>

        }
      </ul>
    </div>
  </div>

  <div class="card">
  <div class="card-header">
    <h2>Sessions récentes</h2>
    <button><mat-icon>add</mat-icon></button>
  </div>

    <div>
      <button><mat-icon>edit</mat-icon></button>
      <button><mat-icon>delete</mat-icon></button>
    </div>
  </div>

  </div>
}
