

<h2>je suis le formulaire : </h2>

<form id="entryTimesForm" [formGroup]="entryTimesForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Teams</mat-label>
    <mat-select formControlName="teamId">
      @for (team of teams$ | async; track team.id) {
        <mat-option [value]="team.id">{{team.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Products</mat-label>
    <mat-select formControlName="productId">
      @for (product of products$ | async; track product.id) {
        <mat-option [value]="product.id">{{product.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Modules</mat-label>
    <mat-select formControlName="moduleId">
      @for (module of modules$ | async; track module.id) {
        <mat-option [value]="module.id">{{module.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Activities</mat-label>
    <mat-select formControlName="activityId">
      @for (activity of activities$ | async; track activity.id) {
        <mat-option [value]="activity.id">{{activity.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Workload</mat-label>
    <mat-select formControlName="workload">
      @for (workload of workloads$ | async; track workload.value) {
        <mat-option [value]="workload.value">{{workload.label}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <button type="submit">Sauvegarder</button>

</form>
