@import "../../../styles";

:host{
  display: flex;
  flex-direction: column;
}

.header{
  display: flex;
  background-color:$surface;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  border-radius: 8px;
  height: 70px;
}

mat-tab-group{
  flex-grow: 2;
}

h2,
span,
mat-icon {
  color: $text-secondary;
}

h2 {
  margin-right: 24px;
}


.entry-form-container {
 margin-right: 20px;
}

// TAB MATERIAL ANG
.example-small-box, .example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}

.example-small-box {
  height: 100px;
  width: 100px;
}

.example-large-box {
  height: 300px;
  width: 300px;
}

.mat-mdc-tab-group {
  background-color: white;
}

.board{
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

th,
td {
  padding-right: 10px !important;
}

mat-tab-group {
  margin: 20px;
  border-radius: 8px;
}


