
<mat-tab-group dynamicHeight>
  <mat-tab label="Current week">
    <app-table-content [value]="timeEntryService.currentWeekEntries"/>
  </mat-tab>
  <mat-tab label="Current month">
    <app-table-content [value]="timeEntryService.entries"/>
  </mat-tab>
  <mat-tab label="Previous month">
    <app-table-content [value]="timeEntryService.previousMonthEntries"/>
  </mat-tab>
</mat-tab-group>

<div>
  <h2>Ajouter une nouvelle saisie</h2>
  <form [formGroup]="entryTimesForm" (ngSubmit)="onSubmit()">
    <app-entry-times-form
      [form]="entryTimesForm">
    </app-entry-times-form>

    <button type="submit" [disabled]="entryTimesForm.invalid">Sauvegarder</button>
  </form>
</div>

