<div class="container">
  @for (project of projectList() ; track project.id) {
    <mat-card class="card" appearance="outlined">
      <mat-card-header class="card-header">

        <!--project type-->
        <mat-card-title>couture</mat-card-title>
        <mat-card-subtitle>{{ project.label }}</mat-card-subtitle>
        <a [routerLink]="['/projectDetail', project.id]"><mat-icon>more_vert</mat-icon></a>

      </mat-card-header>
      <mat-card-content>
        <!--add content-->
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <app-chips [chips]="project.status"></app-chips>
      </mat-card-footer>
    </mat-card>
  }
  @empty {
    <p>Il n'y a pas encore de projet ici</p>
  }
</div>


