/* You can add global styles to this file, and also import other style files */
@use 'mat-form-field';


$dark-background: #0D0D14;
$surface-dark: #161625;


//----------//
$surface: #FFFFFF;
$surface-light: #F6F8FC;
//----------//
$primary: #5B7FFF;
$primary-light: #7DA2FF;
//----------//
$accent: #EC4899;
$success: #22D3EE;
$error: #F43F5E;
//----------//
$text-primary: #111027;
$text-secondary: #475669;
//----------//
$purple-gradient: linear-gradient(200deg,rgba(124, 58, 237, 1) 32%, rgba(236, 72, 153, 1) 100%);
$blue-gradient: linear-gradient(200deg,rgba(59, 138, 237, 1) 32%, rgba(34, 211, 190, 1) 100%);
//----------//
$border : #E2E8F0;
$divider : #F1F5F9;



*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: calc(100% - 56px );
  width: 100%;
}

body {
  background-color: $dark-background;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
p {
  color: $surface;
}

h1{
  font-size: 1em;
}
h2 {
  margin-left: 1em;
}

input {
  all: unset;
  flex-grow: 1;
  padding: 10px 20px;
  background-color: $surface-dark;
}

button.primary-button {
  border: solid 1px $border;
  margin: 10px;
  padding: 10px;
  background: $surface-light;
  color: $text-primary;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
  &:disabled{
    background: $purple-gradient;
    opacity: 0.5;
  }
}

button.icon-button {
  border: solid 1px $border;
  background: $surface-light;
  color: $text-primary;
  width: 50px;
  cursor: pointer;
  border-radius: 8px;
}


