/* You can add global styles to this file, and also import other style files */
$black : #022554;
$blue : #3B68FA;
$white : azure;
$grey: #8A8A8A;

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: calc(100% - 56px );
  width: 100%;
}

body {
  background-color: #F0F0F0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
p {
  color: $white;
}

h1{
  font-size: 1em;
}
h2 {
  margin-left: 1em;
  color: $black;
}

li {
  list-style-type: none;
  padding: 1em 0;
  color: $black;
}
