/* You can add global styles to this file, and also import other style files */
@use 'mat-form-field';
@use "colors" as colors;

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: calc(100% - 56px );
  width: 100%;
}

body {
  background-color: colors.$dark-background;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
p {
  color: colors.$surface;
}

h1{
  font-size: 1em;
}
h2 {
  margin-left: 1em;
}

input {
  all: unset;
  flex-grow: 1;
  padding: 10px 20px;
  background-color: colors.$dark-medium;
}

button.primary-button {
  border: solid 1px colors.$border;
  margin: 10px;
  padding: 10px;
  background: colors.$surface-light;
  color: colors.$text-dark;
  width: 100px;
  cursor: pointer;
  border-radius: 8px;
  &:disabled{
    background: colors.$purple-gradient;
    opacity: 0.5;
  }
}

button.icon-button {
  border: solid 1px colors.$border;
  background: colors.$surface-light;
  color: colors.$text-dark;
  width: 50px;
  cursor: pointer;
  border-radius: 8px;
}


// FORM
.error {
  color: colors.$error;
}
.error-container{
  min-height: 1.5rem;
}


button.form{
  background: colors.$purple-gradient;
  color: white;
  border: none;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  height: 40px;
  text-align: center;
  font-weight: bold;
}

mat-form-field {
  --mat-datepicker-toggle-icon-color: colors.$surface-light;
}


::ng-deep .mat-calendar-body-selected {
  background: colors.$purple-gradient;
}

mat-card {
  background-color: colors.$dark-medium !important;
  color: colors.$text-light;
}

.card {
  background-color: colors.$dark-medium;
  color: colors.$text-light;
}
